[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
proxyscrape = "*"
SQLAlchemy = "*"
alembic = "*"
psycopg2 = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Scrapy = "*"
scrapy-user-agents = "*"
rotating-free-proxies = "*"
pproxy = "*"
stem = "*"

[dev-packages]

[requires]
python_version = "3.8"
